
##In this project we will be using the previously generated dataset for a 2DOF Cartesian robot arm to train a small model to be able to do inverse kinematics meaning that we will give the model the desired final orientation for the robot arm and we will get the angles for each motor predicted

Importing the required packages

In [5]:
import numpy as np
import pandas as pd
import sklearn 
import keras
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Activation
from keras.layers.core import Dense
from keras.metrics import categorical_crossentropy
from sklearn.model_selection import GridSearchCV
from tensorflow.keras.optimizers import Adam
from sklearn.datasets import make_regression

Uploading the previously created dataset

In [7]:
from google.colab import files
uploaded = files.upload()

Saving largerdata.csv to largerdata.csv

In [9]:
data = pd.read_csv(r"largerdata.csv")
data.head(10)

     0   0.1      10.0       0.0
0  0.0   3.0  9.993148  0.261680
1  0.0   5.0  9.980973  0.435779
2  0.0   7.0  9.962731  0.609347
3  0.0  10.0  9.924039  0.868241
4  0.0  12.0  9.890738  1.039558
5  0.0  15.0  9.829629  1.294095
6  0.0  18.0  9.755283  1.545085
7  0.0  20.0  9.698463  1.710101
8  0.0  23.0  9.602524  1.953656
9  0.0  25.0  9.531539  2.113091

Getting the labels

In [10]:
y = data.iloc[:, 0:2]
y.head(10)

     0   0.1
0  0.0   3.0
1  0.0   5.0
2  0.0   7.0
3  0.0  10.0
4  0.0  12.0
5  0.0  15.0
6  0.0  18.0
7  0.0  20.0
8  0.0  23.0
9  0.0  25.0

In [11]:
x = data.iloc[:, 2:4]
print(x.dtypes)
x.head(10)

10.0    float64
0.0     float64
dtype: object

       10.0       0.0
0  9.993148  0.261680
1  9.980973  0.435779
2  9.962731  0.609347
3  9.924039  0.868241
4  9.890738  1.039558
5  9.829629  1.294095
6  9.755283  1.545085
7  9.698463  1.710101
8  9.602524  1.953656
9  9.531539  2.113091

In [12]:
#splitting it
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2)

In [13]:
print("Train data: ", train_x)
print("Train data_Y: ", train_y)

print("Test data: ", test_x)
print("Test data_y: ", test_y)

Train data:            10.0       0.0
1683 -0.630699  8.013788
1621 -1.587150  6.365713
3926 -6.365320 -0.894587
2397 -3.394444  8.194912
1232  5.690452  7.977719
...        ...       ...
4354 -6.724985 -2.185080
1034  2.801665  7.697511
423  -0.090235  1.475337
3146 -4.210101  0.368336
357  -0.027302  0.172375

[4146 rows x 2 columns]
Train data_Y:            0    0.1
1683   58.0   73.0
1621   55.0   98.0
3926  138.0  100.0
2397   85.0   55.0
1232   43.0   23.0
...     ...    ...
4354  153.0   90.0
1034   35.0   70.0
423    12.0  163.0
3146  110.0  130.0
357    10.0  178.0

[4146 rows x 2 columns]
Test data:            10.0       0.0
4926 -6.424589 -4.172177
3487 -7.217165  2.001497
3359 -4.771406  0.041639
3061 -6.039055  2.563427
2106 -1.429100  9.022982
...        ...       ...
3551 -7.843763  3.605240
1791 -1.166816  0.907361
4479 -9.391202  0.327948
1804  3.237847  9.403389
195   1.265249  3.781432

[1037 rows x 2 columns]
Test data_y:             0     0.1
4926  173.00   80.00
3487  123.00   83.00
3359  118.00  123.00
3061  108.00   98.00
2106   75.00   48.00
...      ...     ...
3551  125.00   60.63
1791   60.63  163.00
4479  158.00   40.00
1804   65.00   12.00
195     5.00  133.00

[1037 rows x 2 columns]

converting to numpy array

In [14]:
train_x = np.array(train_x)
train_y = np.array(train_y)
test_x = np.array(test_x)
test_y = np.array(test_y)

train_y.shape

(4146, 2)

creating our model

In [16]:
model = Sequential()
model.add(Dense(256, input_shape=(2,), activation='relu'))
model.add(Dense(128))
model.add(Dense(128))
model.add(Dense(2,activation ="relu"))

compiling and fitting

In [19]:
model.compile(optimizer = Adam(learning_rate=0.001), loss='mae', metrics=['accuracy'])
history = model.fit(train_x, train_y, epochs=50,  validation_data =(test_x,test_y))

Epoch 1/50
130/130 [==============================] - 1s 4ms/step - loss: 2.1696 - accuracy: 0.9790 - val_loss: 1.8312 - val_accuracy: 0.9797
Epoch 2/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9089 - accuracy: 0.9812 - val_loss: 1.6409 - val_accuracy: 0.9769
Epoch 3/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0013 - accuracy: 0.9788 - val_loss: 2.0210 - val_accuracy: 0.9749
Epoch 4/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0211 - accuracy: 0.9788 - val_loss: 1.8352 - val_accuracy: 0.9807
Epoch 5/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0952 - accuracy: 0.9790 - val_loss: 1.5802 - val_accuracy: 0.9846
Epoch 6/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9008 - accuracy: 0.9822 - val_loss: 2.1038 - val_accuracy: 0.9788
Epoch 7/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9351 - accuracy: 0.9797 - val_loss: 2.2559 - val_accuracy: 0.9749
Epoch 8/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9621 - accuracy: 0.9819 - val_loss: 1.9469 - val_accuracy: 0.9788
Epoch 9/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8557 - accuracy: 0.9836 - val_loss: 1.6358 - val_accuracy: 0.9778
Epoch 10/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0891 - accuracy: 0.9797 - val_loss: 1.7541 - val_accuracy: 0.9740
Epoch 11/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8724 - accuracy: 0.9814 - val_loss: 1.6984 - val_accuracy: 0.9778
Epoch 12/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0104 - accuracy: 0.9805 - val_loss: 1.7873 - val_accuracy: 0.9749
Epoch 13/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0283 - accuracy: 0.9814 - val_loss: 1.8760 - val_accuracy: 0.9769
Epoch 14/50
130/130 [==============================] - 0s 3ms/step - loss: 2.1792 - accuracy: 0.9812 - val_loss: 1.8585 - val_accuracy: 0.9769
Epoch 15/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9337 - accuracy: 0.9795 - val_loss: 1.8702 - val_accuracy: 0.9846
Epoch 16/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9176 - accuracy: 0.9797 - val_loss: 1.4570 - val_accuracy: 0.9807
Epoch 17/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9988 - accuracy: 0.9805 - val_loss: 1.9335 - val_accuracy: 0.9788
Epoch 18/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9677 - accuracy: 0.9836 - val_loss: 1.8526 - val_accuracy: 0.9749
Epoch 19/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8930 - accuracy: 0.9793 - val_loss: 1.6162 - val_accuracy: 0.9759
Epoch 20/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9946 - accuracy: 0.9807 - val_loss: 1.7301 - val_accuracy: 0.9643
Epoch 21/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9590 - accuracy: 0.9788 - val_loss: 1.5930 - val_accuracy: 0.9797
Epoch 22/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0328 - accuracy: 0.9826 - val_loss: 1.6398 - val_accuracy: 0.9797
Epoch 23/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8542 - accuracy: 0.9817 - val_loss: 2.3132 - val_accuracy: 0.9749
Epoch 24/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0151 - accuracy: 0.9809 - val_loss: 1.8066 - val_accuracy: 0.9769
Epoch 25/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9169 - accuracy: 0.9817 - val_loss: 1.8698 - val_accuracy: 0.9807
Epoch 26/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9660 - accuracy: 0.9824 - val_loss: 2.1220 - val_accuracy: 0.9624
Epoch 27/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0099 - accuracy: 0.9776 - val_loss: 1.6305 - val_accuracy: 0.9807
Epoch 28/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9430 - accuracy: 0.9795 - val_loss: 2.1476 - val_accuracy: 0.9788
Epoch 29/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9972 - accuracy: 0.9822 - val_loss: 1.7452 - val_accuracy: 0.9740
Epoch 30/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9026 - accuracy: 0.9824 - val_loss: 2.1383 - val_accuracy: 0.9826
Epoch 31/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9354 - accuracy: 0.9848 - val_loss: 2.1136 - val_accuracy: 0.9797
Epoch 32/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9900 - accuracy: 0.9829 - val_loss: 1.8758 - val_accuracy: 0.9759
Epoch 33/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9619 - accuracy: 0.9805 - val_loss: 1.6876 - val_accuracy: 0.9836
Epoch 34/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0181 - accuracy: 0.9812 - val_loss: 1.6747 - val_accuracy: 0.9769
Epoch 35/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8547 - accuracy: 0.9822 - val_loss: 1.8151 - val_accuracy: 0.9778
Epoch 36/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9675 - accuracy: 0.9829 - val_loss: 2.2533 - val_accuracy: 0.9691
Epoch 37/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9634 - accuracy: 0.9843 - val_loss: 1.6414 - val_accuracy: 0.9826
Epoch 38/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9402 - accuracy: 0.9807 - val_loss: 2.3380 - val_accuracy: 0.9682
Epoch 39/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9447 - accuracy: 0.9793 - val_loss: 1.8227 - val_accuracy: 0.9740
Epoch 40/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8812 - accuracy: 0.9795 - val_loss: 1.6488 - val_accuracy: 0.9788
Epoch 41/50
130/130 [==============================] - 0s 4ms/step - loss: 2.0068 - accuracy: 0.9812 - val_loss: 1.9761 - val_accuracy: 0.9826
Epoch 42/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9594 - accuracy: 0.9822 - val_loss: 1.5369 - val_accuracy: 0.9797
Epoch 43/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9064 - accuracy: 0.9814 - val_loss: 1.8427 - val_accuracy: 0.9720
Epoch 44/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9779 - accuracy: 0.9814 - val_loss: 1.6309 - val_accuracy: 0.9807
Epoch 45/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8778 - accuracy: 0.9848 - val_loss: 1.8318 - val_accuracy: 0.9682
Epoch 46/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9253 - accuracy: 0.9841 - val_loss: 2.4599 - val_accuracy: 0.9720
Epoch 47/50
130/130 [==============================] - 0s 3ms/step - loss: 2.0302 - accuracy: 0.9817 - val_loss: 1.9817 - val_accuracy: 0.9701
Epoch 48/50
130/130 [==============================] - 0s 3ms/step - loss: 1.8943 - accuracy: 0.9805 - val_loss: 1.7594 - val_accuracy: 0.9836
Epoch 49/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9712 - accuracy: 0.9790 - val_loss: 2.0987 - val_accuracy: 0.9749
Epoch 50/50
130/130 [==============================] - 0s 3ms/step - loss: 1.9506 - accuracy: 0.9819 - val_loss: 1.8652 - val_accuracy: 0.9797

saving the model and getting the summary

In [20]:
model.summary()
model.save(r'model.h5')

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               768

 dense_1 (Dense)             (None, 128)               32896

 dense_2 (Dense)             (None, 128)               16512

 dense_3 (Dense)             (None, 2)                 258

=================================================================
Total params: 50,434
Trainable params: 50,434
Non-trainable params: 0
_________________________________________________________________

Doing some predictions for our cartesian robot Arm

In [21]:
print("x,y",model.predict([[-5,5]]))

x,y [[89.97405 89.95635]]

Next we can tune our model and expand it to be able to work on 3 and 4 degree of freedom robot arms